* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: lightyellow;
  display: flex;
  flex-basis: 0;
  padding: 5rem;
  padding-left: 8rem;
  position: relative;
  /* align-items: center; */
  justify-content: space-between;
  gap: 20rem;
}

.container {
  background-color: #15202b;
  margin: 0 auto;
  width: 50rem;
  position: relative;

  top: 50%;
  margin-top: -25rem;
  height: 50rem;
  transition: 0.5s all ease;
}

.options {
  justify-self: center;
  /* top: 40%; */
  align-self: center;
  position: relative;
  left: 15%;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* flex-grow: 1; */
}

.newgrid {
  padding: 2rem 4rem;
  border-radius: 1rem;
  border: 0.2px solid black;
  transition: 0.3s all;
  cursor: pointer;
  background-color: #0a229d;
  font-weight: bold;
  color: wheat;
  font-family: 'Helvetica';
  font-size: 1.8rem;
}

.newgrid:hover {
  background-color: #0f2ec9;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
}
.choosecolor {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Helvetica';
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }

  body {
    display: inline-block;
    gap: 0;
  }

  .options {
    position: initial;
  }

  .container {
    width: 80vw;
    height: 40%;
    top: 30%;
    right: 5%;
  }
  iframe {
    width: 100%;
    height: 25vh;
  }
}

#colorpick {
  border: none;
  background-color: transparent;
}
.rainbow {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  font-family: 'Helvetica';
  font-weight: bold;
}

.erase {
  padding: 2px;
  border-radius: 5px;
  border: 0.1px solid black;
  background-color: transparent;
  cursor: pointer;
}
